# This is a basic workflow to help you get started with Actions

name: CI

on:
  repository_dispatch:
    types:
      - check_certs_expire
  push:
    branches: [ '*' ]
  pull_request:
  release:
    types: [ created, edited ]
  workflow_dispatch:
    inputs:
      gva_version:
        required: true
        type: string
env:
# game
  # DEFAULT_DDING_SECRET: 'SEC618a0dffd91ebf7db4c9c00e2a82b863bc6181858cadbdbf1655ca6dcd2fd1cc'
  # DEFAULT_DDING_TOKEN: '4e27925ce9df0372171763c071b36bb442cdbf296f315484b9cb165f331da225'
  DEFAULT_DDING_SECRET: 'SECbe4003c4d14c740788cf9383fa1d8d77c029a03e6df99dde528274b9bcc179261'
  DEFAULT_DDING_TOKEN: 'fd87df4f83611b4c4cf31d5ad48f890f9603b57b1cac3d52fb80df8b86a5b6291'

concurrency:
  group: build-latest
  cancel-in-progress: true
  
jobs:
  msw-msvs:
    runs-on: macos-latest 
    name: wxMSW
    strategy:
      fail-fast: false
      # matrix:
      #   include:
      #     - configuration: 'Release'
      #       platform: 'x64'
      #       vsversion: 2022
    steps:

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

          
      - name: Cache SSH known hosts
        id: cache-ssh-hosts
        uses: actions/cache@v3
        with:
          path: ~/.ssh/known_hosts
          key: ssh-known-hosts-${{ runner.os }}-v1
          restore-keys: |
            ssh-known-hosts-${{ runner.os }}-


      - name: Add Gitee ssh-key to known hosts
        shell: bash
        run: |
          mkdir -p $HOME/.ssh
          cat >$HOME/.ssh/known_hosts <<Eof
            gitee.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDMzG3r+88lWSDK9fyjcZmYsWGDBDmGoAasKMAmjoFloGt9HRQX2Qp4f9FY2XK/hsHYinvoh5Xytl9iaUNUWMfYR8q6VEMtOO87DgoAFcfKZHt0/nbAg9RoNTKYt6v8tPwYpr7N0JP/01nE4LFsNDnstr6H0bXSAzbKWCETLZfdPV4l2uSpRn3bU0ugoZ0aSKz5Dc/IloBfGCTvkSsxUydMRd/Chpjt6VxncDbp+Fa6pzsseK8OQzrg6Fgc5783EN3EQqZ2skqyCwExtx95BJlfx1B3luZnWfpkwNDnrZRT/Qx0OrWqyf0q6f9uQr+UG1S8qDcUn3e/9onq3rwBri8/
            gitee.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBMuEoYdx6to5oxR60IWj8uoe1aI0X1fKOHWOtLqTg1tsLT1iFwXV5JmFjU46EzeMBV/6EmI1uaRI6HiEPtPtJHE=
            gitee.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEKxHSJ7084RmkJ4YdEi5tngynE8aZe2uEoVVsB/OvYN
          Eof
      
      # - name: Add Gitee to known hosts
      #   if: steps.cache-ssh-hosts.outputs.cache-hit != 'true'
      #   shell: pwsh
      #   run: |
      #     New-Item -Path $HOME\.ssh -ItemType Directory -Force
      #     #ssh-keyscan gitee.com >> $HOME\.ssh\known_hosts
      #     ssh-keyscan github.com >> $HOME\.ssh\known_hosts
          
    
      - uses: lukka/get-cmake@latest

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      # - name: show payload
      #   run: |
      #     echo "Client payload: ${{ toJson(github.event.client_payload) }}"
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13'

      - name: Install dding on non-Windows
        if: runner.os != 'Windows'
        run: |
          pip install dding
          mkdir -p ~/.dding
          dding_secret="${{ github.event.client_payload.secret || env.DEFAULT_DDING_SECRET }}"
          dding_token="${{ github.event.client_payload.token || env.DEFAULT_DDING_TOKEN }}"
          cat <<EOF > ~/.dding/config.json
          [
              {
                  "group": "default",
                  "secret": "$dding_secret",
                  "token": "$dding_token"
              }
          ]
          EOF
      
      - name: Install dding on Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          pip install dding
          New-Item -Path $HOME\.dding -ItemType Directory -Force
          $dding_secret = "${{ github.event.client_payload.secret || env.DEFAULT_DDING_SECRET }}"
          $dding_token = "${{ github.event.client_payload.token || env.DEFAULT_DDING_TOKEN }}"
          $config = @"
          [
              {
                  "group": "default",
                  "secret": "$dding_secret",
                  "token": "$dding_token"
              }
          ]
          "@
          $config | Out-File -FilePath $HOME\.dding\config.json -Encoding utf8
      # - name: Set up proxy
      #   run: |
      #     git config --global http.proxy socks5://python:psdemo982@123.60.164.114:11654

      - name: Setup Debug Session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 15
        with:
          detached: true
          
      - name: Clone repository from Gitee with trace
        shell: pwsh
        run: |
          # $env:GIT_TRACE = "1"
          #git clone https://oauth2:${{ secrets.MYUSER_TOKEN }}@${{ github.event.client_payload.gitaddress }}
          git clone git@gitee.com:charlesabc/myutils.git
          # git clone git@gitee.com:charlesabc/quick-print.git
          # git clone https://oauth2:${{ secrets.GITEE_TOKEN }}@gitee.com/charlesabc/quick-print.git 
          cd myutils
          cd web_certs_check
          bash check_certs_expire_all.sh
      # - name: Setup MSBuild
      #   uses: microsoft/setup-msbuild@v2


          

